/**
 * TIPOGRAFIA Y COLOR
 *
 * -------------------------------------------------------------------
 */
*{
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #c1bdba;
    color: white;
}

/**
 * PAGINA INICIO
 *
 * -------------------------------------------------------------------
 */
 #pagWeb{
    display: none;
}

a{
	text-decoration: none;
	color: #1ab188;
	transition: 0.5s ease;
}

a:hover {
	color: #116e56;
}

.form {
	background: rgba(19, 35, 47, .9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

.tab-group:after {
	content: "";
	display: table;
	clear: both;
}

.tab-group a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, .25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: 0.5s ease;
}

.tab-group a:hover {
	background: #179b77;
	color: white;
}

.tab-group .active{
	background: #1ab188;
	color: white;
}

.logInTitle{
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	left: 13px;
	color: rgba(255, 255, 255, .6);
	transition: all 0.25s ease;
	pointer-events: none;
	font-size: 22px;
}

::placeholder{
	color: rgba(255, 255, 255, .6);
}

label.active {
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}

label.highlight {
	color: #fff;
}

input, select{
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: white;
	border-radius: 0;
	transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input[type=checkbox]{
    position: absolute;
    width: 0%;
}

#conditions{
    margin-left: 20px;
}

option{
	background-color: rgba(19, 35, 47, .9);
	color: white;
}

input:focus, select:focus {
	outline: 0;
	border-color: #1ab188;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}

.top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: #1ab188;
	color: white;
	transition: all 0.5s ease;
	-webkit-appearance: none;
	cursor: pointer;
}

.button:hover, .button:focus {
	background: #179b77;
}

.button-block {
	display: block;
    width: 100%;
    margin-bottom: 15px;
}
/**
 * HEADER
 *
 * -------------------------------------------------------------------
 */
.header{
    background: rgba(19, 35, 47, .9);
    border: 3px  solid black;
    margin: 20px 55px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.headerTablet{
    display: none;
}

.logo{
    float: left;
    width: 50px;
    margin: 15px;
}

.login{
    float: right;
    margin: 15px;
    text-align: center;
}

.title{
    float: left;
    margin: 15px;
    font-size: 50px;
}

.menu {
    overflow: auto;
    width: 100%;
    background: rgba(19, 35, 47, .9);
}
  
.menu a {
    display: block;
	padding: 15px;
	background: rgba(19, 35, 47, .9);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	text-align: center;
	cursor: pointer;
}
  
.menu a:hover {
    background: #179b77;
    color: white;
}

.menu .active{
    background: #1ab188;
    color: white;
}
/**
 * MAIN
 *
 * -------------------------------------------------------------------
 */
#main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    background: #c1bdba;
}

.column{
    border: 3px solid black;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.column.side{
    flex: 25%;
    background: rgba(19, 35, 47, .9);
    padding: 20px;
}

.column.side li{
    list-style: none;
    padding: 15px 0;
    font-size: 17px;
}

.column.side a{
    display: block;
    padding: 15px;
}

.leftList a:nth-last-child(2){
    display: none;
}

.leftList a:nth-last-child(1){
    display: none;
}

#columnLeftPhone{
    display: none;
}

/**
 * COLUMNA CENTRAL
 *
 * -------------------------------------------------------------------
 */
.column.mid{
    flex: 50%;
    background: rgba(19, 35, 47, .9);
    padding: 20px;
}

.topicLogo{
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.topicTitle{
    font-size: 30px;
    text-decoration: underline;
    color: #1ab188;
}

.topicParagraph{
    padding: 20px;
    font-size: 17px;
}

.separator{
    content: "";
    clear: both;
    display: table;
    margin-top: 20px;
}

.articleVideo{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.articleTitle{
    padding: 20px 0;
    font-size: 20px;
}

.articleTitle.n{
    display: none;
}

.articleParagraph{
    padding: 20px;
    font-size: 17px;
}

.titulo1{
    font-size: 35px;
}

/**
 * LISTADO DE ESTUDIANTES
 *
 * -------------------------------------------------------------------
 */
.profile{
    width: 100px;
    float: left;
    margin-top: 20px;  
    margin-right: 20px;
}

.icon{
    width: 50px;
    float: left;
    cursor: pointer;
}

.studentsList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studentsList li{
    list-style: none;
}

.data{
    padding-top: 20px;
}

.subjectsList{
    margin-left: 15px;
}

/**
 * FORO
 *
 * -------------------------------------------------------------------
 */
.forumList li{
    list-style: none;
    text-align: left;
    display: block;
}

.forumList li::after{
    content: "";
    clear: both;
    display: table;
}

.listTitle{
    padding-bottom: 20px;
    font-size: 30px;
    color: #1ab188;
}

.forumSubtitle{
    font-size: 20px;
    padding: 10px 0;
}

.forumTitle{
    padding-bottom: 20px;
    font-size: 30px;
    color: #1ab188;
}

.forumProfile{
    width: 70px;
    float: left;
    margin-top: 20px;  
    margin-right: 20px;
    margin-bottom: 20px;
}

.forumMessage{
    font-size: 15px;
    padding: 10px;
}

.forumComment{
    margin: 10px;
}

.cuadroTxt{
    color: white;
    margin: 3px;
    padding: 15px;
    font-size: 15px;
    background: #1ab188;
    letter-spacing: 0.1em;
    border: 0;
    min-width: 100%;
}

.boton{
    margin: 3px;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    background: #1ab188;
    color: white;
    letter-spacing: 0.1em;
    border: 0;
    cursor: pointer;
}


/**
 * CALIFICACIONES
 *
 * -------------------------------------------------------------------
 */
.gradeTitle{
    padding-bottom: 20px;
    font-size: 30px;
    color: #1ab188;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 3px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .10);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, .15);
}

tr:nth-child(1) {
    background-color: rgba(255, 255, 255, .20);
}

.download{
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    background: #1ab188;
    color: white;
    letter-spacing: 0.1em;
    border: 0;
    cursor: pointer;
}

/**
 * PIE
 *
 * -------------------------------------------------------------------
 */
.footer{
    clear: both;
    text-align: center;
    padding: 20px;
    background: rgba(19, 35, 47, .9);
    border-radius: 4px;
}

.footer li{
    list-style: none;
    display: inline-block;
    border-right: 3px solid white;
    padding: 0px 7px;
    font-size: 17px;
}

.footer li:last-child{
    border-right: none;
}

/**
 * TABLET
 *
 * -------------------------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .headerComputer{
        display: none;
    }  
    
    .headerTablet{
        display: block;
    }

    .titulo1.n{
        display: none;
    }

    .column.side.D{
        display: none;
    }

    .column.side a:nth-last-child(2){
        display: block;
    }
    
    .column.side a:nth-last-child(1){
        display: block;
    }

    .articleTitle.n{
        display: inline;
    }

    .articleTitle{
        display: none;
    }

    .articleVideo{
        width: 100%;
    }

    .topicLogo{
        display: none;
    }

    .profile{
        width: 100%;
        margin: 30px 0;
    }
}

/**
 * MOVIL
 *
 * -------------------------------------------------------------------
 */
@media screen and (max-width: 600px){
    #main {
        flex-direction: column;
    }

    .header {
        display: none;
    }

    .titulo1.n {
        display: none;
    }

    #columnLeftComputer {
        display: none;
    }

    #columnLeftPhone {
        display: block;
    }

    .botonDropdown {
        margin: 10px;
        padding: 10px;
        background: #1ab188;
        cursor: pointer;
    }

    .dropdown {
        float: left;
        margin: auto;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background: rgba(19, 35, 47, .9);
        min-width: 250px;
        z-index: 1;
        overflow: auto;
    }

    .dropdown-content a {
        background: rgba(19, 35, 47, .9);
        color: #a0b3b0;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover{
        background: #179b77;
        color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .titulo1{
        float: left;
    }

    .topicParagraph{
        display: none;
    }

    .articleParagraph{
        display: none;
    }

    .tabla{
        overflow: auto;
    }
}